@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Martian+Mono&family=Playfair+Display&family=Poppins:wght@100;700&family=Roboto:wght@100&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik+Glitch&display=swap');


$background:#222c35;
$background-dark:#151e2a;
$gray-color:#BBE1FA;
$color:#fff;
$button:#f1efee;
$button-color:#000;
$font:'Poppins', sans-serif;
$font-bold:  'Playfair Display', serif;
$font-cursive:'Dancing Script', cursive;

